<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Eric Chen's Notes</span>
    </nav>
    <div class="select container-fluid py-4">
      <a href="#" class="badge badge-pill badge-primary p-2 mr-1">All</a>
      <a href="#" class="badge badge-pill badge-primary p-2 mr-1">STEM</a>
      <a href="#" class="badge badge-pill badge-primary p-2 mr-1">Humanities</a>
    </div>
    <main class="container-fluid">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="card-body">
            <h5 class="card-title">csTask 52</h5>
            <span class="badge badge-pill badge-primary">Science</span>
            <p class="card-text">
              Here's what I have to do
            </p>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card-body">
            <h5 class="card-title">csTask 52</h5>
            <span class="badge badge-pill badge-primary">Science</span>
            <p class="card-text">
              Here's what I have to do
            </p>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card-body">
            <h5 class="card-title">csTask 52</h5>
            <span class="badge badge-pill badge-primary">Science</span>
            <p class="card-text">
              Here's what I have to do
            </p>
          </div>
        </li>
      </ul>
    </main>
    <form class="container-fluid">
      <div class="form-group">
        <label for="note-title">Title</label>
        <input
          type="note-title"
          class="form-control"
          id="note-title"
          placeholder="Title"
        />
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <select class="form-control" id="subject">
          <option>STEM</option>
          <option>Humanities</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Note</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </form>
  </body>
</html>
